@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    background-color: #161616;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 753px;
}

/* Header */

.avatar {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.occupation {
    gap: 1rem;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header_heading {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.header_sub-heading {
    color: #BDBDBD;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16.67;
}

.contact {
    color: white;
    padding: 1rem;
    background-color: #232323;
    border-radius: 7.5px;
    margin-top: 20px;
}

.contact-text {
    text-decoration: none;
    color: white;
    font-size: 16.67;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

/* Header Ended */