@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #161616;
    background-size: 96px 96px;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(103, 103, 103);
    border-radius: 4px;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.125rem;
}

p {
  @apply text-opacity-75;
}

.fade-top-enter-active,
.fade-top-leave-active {
  transition: opacity 0.5s ease;
}

.fade-top-enter-from,
.fadetop-leave-to {
  opacity: 0;
}

.fade-bottom-enter-active,
.fade2-leave-active {
  transition: opacity 1s ease;
}

.fade-bottom-enter-from,
.fade-bottom-leave-to {
  opacity: 0;
}