@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	background-color: #202021;
    font-family: "Inter", sans-serif;
}

w {
    color: #766fc7;
}